<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/home">I N G E N I U M</a>
  <button
    class="navbar-toggler border border-0"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Big screens dropdown with icon -->
    <ul class="navbar-nav d-none d-lg-flex ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" *ngIf="auth.user$ | async">
        <a class="nav-link" routerLink="/athlete/dashboard">Dashboard</a>
      </li>
      <li class="d-none d-lg-block nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <fa-icon [icon]="faUser"></fa-icon>
        </a>
        <ul class="dropdown-menu dropdown-menu-end nav-dropdown">
          <div *ngIf="auth.user$ | async; then signOut; else signIn"></div>
        </ul>
      </li>
    </ul>
    <!-- Small screens -->
    <ul class="navbar-nav d-flex d-lg-none">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/home"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          >Home</a
        >
      </li>
      <li class="nav-item" *ngIf="auth.user$ | async">
        <a
          class="nav-link"
          routerLink="/athlete/dashboard"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          >Dashboard</a
        >
      </li>
      <ng-container
        *ngIf="auth.user$ | async; then signOutMobile; else signInMobile"
      ></ng-container>
    </ul>
  </div>
</nav>

<!-- Large screens -->
<ng-template #signIn>
  <button type="button" class="dropdown-item" routerLink="/auth">
    Sign in
  </button>
  <li><hr class="dropdown-divider" /></li>
  <button type="button" class="dropdown-item" routerLink="/auth/sign-up">
    Sign up
  </button>
</ng-template>

<ng-template #signOut>
  <button type="button" class="dropdown-item" (click)="auth.signOut()">
    Sign out
  </button>
</ng-template>

<!-- Small screens -->
<ng-template #signInMobile>
  <li class="d-block d-lg-none nav-item">
    <a
      class="nav-link"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      routerLink="/auth"
    >
      Sign in
    </a>
  </li>

  <li class="d-block d-lg-none nav-item">
    <a
      class="nav-link"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      routerLink="/auth/sign-up"
    >
      Sign up
    </a>
  </li>
</ng-template>

<ng-template #signOutMobile>
  <li class="d-block d-lg-none nav-item">
    <a
      class="nav-link"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      (click)="auth.signOut()"
    >
      Sign out
    </a>
  </li>
</ng-template>
