<div class="row">
  <div class="col-12 mt-3">
    <div class="ms-auto">
      <div class="card bs-primary">
        <div
          class="card-header d-flex align-items-center justify-content-between"
        >
          <h6 class="mb-0">Latest workouts</h6>
          <app-workout-modal></app-workout-modal>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-lg-3 mt-3 mt-lg-0" *ngFor="let workout of latestWorkouts">
              <app-workout-small [workout]="workout"></app-workout-small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
