<div class="small-center-container mt-5" novalidate>
  <form [formGroup]="signUpForm" (submit)="signUp()">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Name"
        formControlName="name"
      />
      <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
      <label for="password">Password</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="repeatPassword"
        placeholder="Repeat password"
        formControlName="repeatPassword"
      />
      <label for="repeatPassword">Repeat password</label>
    </div>
    <div class="mt-3 d-flex">
      <button type="submit" class="btn btn-dark ms-auto">Sign up</button>
    </div>
  </form>
</div>