<form [formGroup]="workoutForm" (submit)="save()">
  <div class="row align-items-center mb-3">
    <div class="col-lg-6">
      <div class="input-group">
        <span for="date" class="input-group-text">Date</span>
        <input
          role="button"
          class="form-control"
          [weekdays]="true"
          [showWeekNumbers]="true"
          outsideDays="collapsed"
          id="date"
          readonly
          name="dp"
          formControlName="date"
          ngbDatepicker
          #d="ngbDatepicker"
          (dateSelect)="onDateSelect($event)"
          (click)="d.toggle()"
        />
      </div>
    </div>
    <div class="col-lg-6 mt-3 mt-lg-0">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          formControlName="completed"
          type="checkbox"
          role="switch"
          id="completed"
        />
        <label class="form-check-label" for="completed">Completed</label>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="input-group">
        <span for="type" class="input-group-text">Type</span>
        <select
          #types
          id="type"
          class="form-select"
          formControlName="type"
          (change)="getSubTypes()"
          [ngClass]="{ 'is-invalid': submitted && f['type'].errors }"
        >
          <option
            *ngFor="let workoutType of workoutTypes"
            [ngValue]="workoutType"
          >
            {{ workoutType.name }}
          </option>
        </select>
        <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
          <div *ngIf="f['type'].errors?.['required']">Type is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3" *ngIf="subTypes.length > 0">
    <div class="col-12">
      <div class="input-group">
        <span for="subType" class="input-group-text">Sub Type</span>
        <select
          id="subType"
          class="form-select"
          formControlName="subType"
        >
          <option
            *ngFor="let subType of subTypes"
            [ngValue]="subType"
          >
            {{ subType.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['time'].errors }"
          id="time"
          placeholder="Time"
          formControlName="time"
        />
        <label for="time">Time</label>
        <div *ngIf="submitted && f['time'].errors" class="invalid-feedback">
          <div *ngIf="f['time'].errors?.['required']">Time is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="form-floating">
        <textarea
          type="text"
          class="form-control"
          id="description"
          placeholder="Description"
          formControlName="description"
        ></textarea>
        <label for="description">Description</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-ing-secondary"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-ing-primary ms-2">Save</button>
    </div>
  </div>
</form>
