<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
      {{ edit ? 'Edit workout' : 'New workout' }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <app-workout-form
      [workout]="workout"
      (onSave)="close()"
      (onCancel)="close()"
    ></app-workout-form>
  </div>
</ng-template>

<fa-icon
  role="button"
  *ngIf="edit"
  class="pe-2"
  [icon]="faPen"
  (click)="open(content)"
></fa-icon>

<button
  *ngIf="!edit"
  type="button"
  class="btn btn-sm btn-ing-primary"
  (click)="open(content)"
>
  Add workout
</button>
