<div class="row mt-5 justify-content-center">
  <div class="col-12 d-flex flex-column align-items-center">
    <h2>I N G E N I U M</h2>
    <p class="lead">What is Ingenium?</p>
  </div>
</div>
<div class="row mt-lg-5 justify-content-center">
  <div
    class="col-12 col-sm-3 mt-5 mt-lg-0 d-flex flex-column align-items-center"
  >
    <div class="mb-4">
      <fa-icon
        [icon]="faBook"
        size="4x"
        [styles]="{ color: 'LightSkyBlue' }"
      ></fa-icon>
    </div>
    <h5>Diary</h5>
    <div class="text-center">
      The easy-to-use workout diary with the functionality you need, no more, no
      less.
    </div>
  </div>
  <div
    class="col-12 col-sm-3 mt-5 mt-lg-0 d-flex flex-column align-items-center"
  >
    <div class="mb-4">
      <fa-icon
        [icon]="faToolbox"
        size="4x"
        [styles]="{ color: '#5C9999' }"
      ></fa-icon>
    </div>
    <h5>Tools</h5>
    <div class="text-center">
      The necessary tools for your training sessions.
    </div>
  </div>
  <div
    class="col-12 col-sm-3 mt-5 mt-lg-0 d-flex flex-column align-items-center"
  >
    <div class="mb-4">
      <fa-icon
        [icon]="faChartSimple"
        size="4x"
        [styles]="{ color: 'Plum' }"
      ></fa-icon>
    </div>
    <h5>Statistics</h5>
    <div class="text-center">
      The feedback you need in order to see what your training habits actually
      looks like.
    </div>
  </div>
</div>
