<div class="small-center-container mt-5" novalidate>
  <form [formGroup]="forgotPasswordForm" (submit)="send()">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="email">Email address</label>
    </div>
    <div class="mt-3 d-flex">
      <button type="submit" class="btn btn-dark ms-auto">Search</button>
    </div>
  </form>
</div>