@import "~bootstrap/dist/css/bootstrap.css";

.small-center-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 540px;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.app-content-container {
  max-width: 960px;
}

.link {
 text-decoration: none;
}

.bg-ing-dark {
  background-color: #2B1C40 !important;
}

.bg-ing-light { 
  background-color: #f6ecfd7a !important;
} 

.bs-primary {
  border: 0;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

// BTN PURPLE PRIMARY
.btn-ing-primary { 
  color: #FFFFFF !important; 
  background-color: #7C53A6 !important; 
  border-color: #7C53A6 !important; 
} 
 
.btn-ing-primary:hover, 
.btn-ing-primary:focus, 
.btn-ing-primary:active, 
.btn-ing-primary.active, 
.open .dropdown-toggle.btn-ing-primary { 
  color: #FFFFFF !important; 
  background-color: #654287 !important; 
  border-color: #7C53A6 !important; 
} 
 
.btn-ing-primary:active, 
.btn-ing-primary.active, 
.open .dropdown-toggle.btn-ing-primary { 
  background-image: none !important; 
} 
 
.btn-ing-primary.disabled, 
.btn-ing-primary[disabled], 
fieldset[disabled] .btn-ing-primary, 
.btn-ing-primary.disabled:hover, 
.btn-ing-primary[disabled]:hover, 
fieldset[disabled] .btn-ing-primary:hover, 
.btn-ing-primary.disabled:focus, 
.btn-ing-primary[disabled]:focus, 
fieldset[disabled] .btn-ing-primary:focus, 
.btn-ing-primary.disabled:active, 
.btn-ing-primary[disabled]:active, 
fieldset[disabled] .btn-ing-primary:active, 
.btn-ing-primary.disabled.active, 
.btn-ing-primary[disabled].active, 
fieldset[disabled] .btn-ing-primary.active { 
  background-color: #7C53A6 !important; 
  border-color: #7C53A6 !important; 
} 
 
.btn-ing-primary .badge { 
  color: #7C53A6 !important; 
  background-color: #FFFFFF !important; 
}

// PURPLE ING SECONDARY
.btn-ing-secondary { 
  color: #000000 !important; 
  background-color: #C2E0F2 !important; 
  border-color: #C2E0F2 !important; 
} 
 
.btn-ing-secondary:hover, 
.btn-ing-secondary:focus, 
.btn-ing-secondary:active, 
.btn-ing-secondary.active, 
.open .dropdown-toggle.btn-ing-secondary { 
  color: #000000 !important; 
  background-color: #ACD0E6 !important; 
  border-color: #C2E0F2 !important; 
} 
 
.btn-ing-secondary:active, 
.btn-ing-secondary.active, 
.open .dropdown-toggle.btn-ing-secondary { 
  background-image: none !important; 
} 
 
.btn-ing-secondary.disabled, 
.btn-ing-secondary[disabled], 
fieldset[disabled] .btn-ing-secondary, 
.btn-ing-secondary.disabled:hover, 
.btn-ing-secondary[disabled]:hover, 
fieldset[disabled] .btn-ing-secondary:hover, 
.btn-ing-secondary.disabled:focus, 
.btn-ing-secondary[disabled]:focus, 
fieldset[disabled] .btn-ing-secondary:focus, 
.btn-ing-secondary.disabled:active, 
.btn-ing-secondary[disabled]:active, 
fieldset[disabled] .btn-ing-secondary:active, 
.btn-ing-secondary.disabled.active, 
.btn-ing-secondary[disabled].active, 
fieldset[disabled] .btn-ing-secondary.active { 
  background-color: #C2E0F2 !important; 
  border-color: #C2E0F2 !important; 
} 
 
.btn-ing-secondary .badge { 
  color: #C2E0F2 !important; 
  background-color: #000000 !important; 
}